@{
    ViewBag.Title = "Admin";
}

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fa fa-bars"></i>
    </a>

    @Html.Partial("_BlogSideBar")

    @Html.Partial("_BlogMainPage")

</div>

